<section *ngIf="cart.items.length > 0" class="container  h-100 h-custom shadow-lg">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card card-registration card-registration-2" style="margin-bottom: 0; border-radius: 15px;">
          <div class="card-body p-5 ">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="px-5 py-2" *ngFor="let item of cart.items">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                  </div>
                  <hr class="my-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{item.phone.imageUrl}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{item.phone.category}}</h6>
                      <h6 class="text-black mb-0">{{item.phone.name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <select #quantity  (change)="changeQuantity(item, quantity.value)"  >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{item.phone.price | currency}}</h6>
                    </div>

                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button (click)="removeFromCart(item)" class="btn btn-danger">X</button>
                    </div>
                  </div>

                  <div class="">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Your Cart</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items: {{cart.items.length}}</h5>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price:</h5>
                    <h5>{{cart.totalPrice | currency}}</h5>
                  </div>

                  <button routerLink="/checkout" type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Confirm</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<div class="text-center mt-4" *ngIf="cart.items.length === 0">
<h1 class="text-danger">No items in your cart!</h1>
<a routerLink="/" class="btn btn-secondary mt-4">Back to Shop list</a>
</div>

